<h1>SmallWorld</h1>
<div style="display: flex; justify-content: flex-end">
  <mat-form-field>
    <mat-label>Agent Name</mat-label>
    <mat-select required>
      <mat-option value="Dolor">Dolor</mat-option>
      <mat-option value="Marium">Marium</mat-option>
      <mat-option value="mano">Mano</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Country</mat-label>
    <mat-select required>
      <mat-option value="usa">USA</mat-option>
      <mat-option value="pakistan">Pakistan</mat-option>
      <mat-option value="india">India</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <ul class="my-list">
        <li>
          <span class="material-symbols-outlined"> verified_user </span>
          Login
        </li>
        <br />
        <li>
          <span class="material-symbols-outlined"> account_circle </span>
          Profile
        </li>
        <br />
        <li>
          <span class="material-symbols-outlined"> favorite </span>
          Favorites
        </li>
      </ul>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="row">
        <div class="col-lg-10">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Table 1 columns -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell *matCellDef="let element">{{ element.position }}</td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>First Name</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef>Last Name</th>
              <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
            </ng-container>
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef>Email</th>
              <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
            </ng-container>
            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef>Image</th>
              <td mat-cell *matCellDef="let element">{{ element.image }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator
            [length]="12"
            [pageSize]="5"
            [pageSizeOptions]="[1, 5, 12]"
            aria-label="Select page"
          >
          </mat-paginator>

          <div class="row" style="margin-top: 50px">
            <div class="col-lg-3 p-2 mx-5">
              <mat-card class="example-card">
                <div class=".card-content-head">
                  <img
                    mat-card-image
                    src="./../assets/empty-image.png"
                    alt="Photo of a Shiba Inu"
                    width="278px"
                    height="180px"
                  />
                  <mat-card-header>
                    <mat-card-title>Header</mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="my-2">
                    <p>
                      The Shiba Inu is the smallest of the six original and
                      distinct spitz breeds of dog from Japan. A small.
                    </p>
                  </mat-card-content>
                </div>
              </mat-card>
            </div>

            <div class="col-lg-3 p-2 mx-5">
              <mat-card class="example-card">
                <div class=".card-content-head">
                  <img
                    mat-card-image
                    src="./../assets/empty-image.png"
                    alt="Photo of a Shiba Inu"
                    width="278px"
                    height="180px"
                  />
                  <mat-card-header>
                    <mat-card-title>Header</mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="my-2">
                    <p>
                      The Shiba Inu is the smallest of the six original and
                      distinct spitz breeds of dog from Japan. A small.
                    </p>
                  </mat-card-content>
                </div>
              </mat-card>
            </div>

            <div class="col-lg-3 p-2 mx-5">
              <mat-card class="example-card">
                <div class=".card-content-head">
                  <img
                    mat-card-image
                    src="./../assets/empty-image.png"
                    alt="Photo of a Shiba Inu"
                    width="278px"
                    height="180px"
                  />
                  <mat-card-header>
                    <mat-card-title>Header</mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="my-2">
                    <p>
                      The Shiba Inu is the smallest of the six original and
                      distinct spitz breeds of dog from Japan. A small.
                    </p>
                  </mat-card-content>
                </div>
              </mat-card>
            </div>
          </div>
        </div>

        <div class="col-lg-2">
          <mat-card class="">
            <mat-card-header>
              <mat-card-title>Phase results</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="pd-5">
                Phase#1 results: <span class="fl-right">6</span>
              </div>
              <div class="pd-5">
                Phase#2 results: <span class="fl-right">19</span>
              </div>
              <div class="pd-5">
                Phase#3 results: <span class="fl-right">13</span>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-form-field class="pl-t custom-form-field">
            <input matInput placeholder="Search" />
            <button mat-icon-button matSuffix>
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>

          <mat-card class="example-card" style="background-color: rgba(180, 229, 106, 0.948); padding-top: 10px;">
            <div class="card-content fit-content">
              <mat-spinner></mat-spinner>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title style="font-size: small">Current Progress</mat-card-title>
              <mat-card-subtitle style="font-size: small">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</mat-card-subtitle>
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct
                  spitz breeds of dog from Japan. A small.
                </p>
              </mat-card-content>
            </div>
          </mat-card>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
